<ng-container *ngFor="let item of dhcp_server_data ">
  <c-row style="padding: 10px 0;">
    <c-col xl="3" sm="12">
      <c-row *ngIf="small_screen">
        <c-col sm="6" style="padding-right: 0;">
          <c-card class="h-100">
            <c-card-header>
              <h6>Statics</h6>
            </c-card-header>
            <c-card-body>
              <c-chart [data]="item['chartpools']" width="100%" type="doughnut"
                [options]="{aspectRatio:2,responsive:true,'plugins': { legend : {position: 'left',fullSize: true}}}">
              </c-chart>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col sm="6" style="padding-left: 0;">
          <c-card class="h-100">
            <c-card-header>
              <h6>DHCP server {{item['dhcp_server']}}</h6>
            </c-card-header>
            <c-card-body>
              Pool name: {{item['address_pool']}}<br />
              Static Ip: {{item['static_ips']}}<br />
              Dynamic Ip: {{item['dynamic_ips']}}<br />
              interface : {{item['interface']}}<br />
            </c-card-body>
          </c-card>
        </c-col>

      </c-row>
      <c-card class="h-100" *ngIf="!small_screen">
        <c-card style="border: none;">
          <c-card-header>
            <h6>Statics</h6>
          </c-card-header>
          <c-card-body>
            <c-chart [data]="item['chartpools']" width="100%" type="doughnut">
            </c-chart>
          </c-card-body>
        </c-card>
        <c-card style="border: none;">
          <c-card-body>

            <table cTable small>
              <tbody>
                <tr>
                  <th scope="row">Server name</th>
                  <td>{{item['dhcp_server']}}</td>
                </tr>
                <tr>
                  <th scope="row">Pool name</th>
                  <td>{{item['address_pool']}}</td>
                </tr>
                <tr>
                  <th scope="row">Static Ip</th>
                  <td>{{item['static_ips']}}</td>
                </tr>
                <tr>
                  <th scope="row">Dynamic Ip</th>
                  <td>{{item['dynamic_ips']}}</td>
                </tr>
                <tr>
                  <th scope="row">Interface</th>
                  <td>{{item['interface']}}</td>
                </tr>
                <tr>
                  <th scope="row">Duplicate AC-ID</th>
                  <td>{{item['duplicate_agent_circuit_ids'].length}}</td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-card>
    </c-col>
    <c-col xl="9" sm="12">
      <c-card class="mb-1 h-100">
        <c-card-body>
          <div class="mb-3 d-flex justify-content-end align-items-center">
            <button cButton color="success" size="sm" class="me-2" (click)="openAddLeaseModal()">
              <i class="fa-solid fa-plus me-1"></i> Add Static Lease
            </button>
            <span class="p-input-icon-left table-search-input me-2">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Search leases..."
                (input)="applyFilterGlobalLeases($event, 'contains')" class="form-control-sm" />
            </span>
            <button cButton color="primary" size="sm" (click)="openLeasesExportModal()">
              <i class="fa-solid fa-file-export me-1"></i> Export
            </button>
          </div>

          <p-table #dtLeases [value]="item['lease_table']" [paginator]="true" [rows]="10" [showGridlines]="true"
            [stripedRows]="true" [resizableColumns]="true" columnResizeMode="expand"
            styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            [globalFilterFields]="['address', 'host-name', 'mac-address', 'status']">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="address" pResizableColumn>
                  <div class="justify-between">
                    <span>Address</span>
                    <span>
                      <p-sortIcon field="address"></p-sortIcon>
                      <p-columnFilter type="text" field="address" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="dynamic" pResizableColumn>
                  <div class="justify-between">
                    <span>Type</span>
                    <span>
                      <p-sortIcon field="dynamic"></p-sortIcon>
                      <p-columnFilter type="boolean" field="dynamic" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="expires-after" pResizableColumn>
                  <div class="justify-between">
                    <span>Expire</span>
                    <span>
                      <p-sortIcon field="expires-after"></p-sortIcon>
                      <p-columnFilter type="text" field="expires-after" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="host-name" pResizableColumn>
                  <div class="justify-between">
                    <span>Host Name</span>
                    <span>
                      <p-sortIcon field="host-name"></p-sortIcon>
                      <p-columnFilter type="text" field="host-name" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="status" pResizableColumn>
                  <div class="justify-between">
                    <span>Status</span>
                    <span>
                      <p-sortIcon field="status"></p-sortIcon>
                      <p-columnFilter type="text" field="status" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="mac-address" pResizableColumn>
                  <div class="justify-between">
                    <span>MAC</span>
                    <span>
                      <p-sortIcon field="mac-address"></p-sortIcon>
                      <p-columnFilter type="text" field="mac-address" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th style="width: 140px" class="text-center" pResizableColumn>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lease>
              <tr>
                <td>{{lease.address}}</td>
                <td>
                  <c-badge [color]="lease.dynamic ? 'info' : 'secondary'">
                    {{lease.dynamic ? 'Dynamic' : 'Static'}}
                  </c-badge>
                </td>
                <td>{{lease['expires-after']}}</td>
                <td>{{lease['host-name']}}</td>
                <td>
                  <c-badge [color]="lease.status === 'bound' ? 'success' : 'warning'">
                    {{lease.status}}
                  </c-badge>
                </td>
                <td><small class="font-monospace">{{lease['mac-address']}}</small></td>
                <td class="text-center">
                  <div class="btn-group" role="group">
                    <button *ngIf="lease.dynamic" cButton color="primary" size="sm" (click)="makeStatic(lease)" pTooltip="Make Static" tooltipPosition="top">
                      <i class="fa-solid fa-anchor"></i>
                    </button>
                    <button *ngIf="!lease.dynamic" cButton color="danger" size="sm" (click)="confirmRemoveLease(lease)" pTooltip="Remove Static Lease" tooltipPosition="top">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                    <button cButton color="info" size="sm" (click)="show_history(lease)" pTooltip="View History" tooltipPosition="top">
                      <i class="fa-solid fa-clock-rotate-left"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</ng-container>


<c-modal #DhcpHistoryModal backdrop="static" size="xl" [visible]="dhcp_history_modal" id="DhcpHistoryModal"
  *ngIf="dhcp_history_modal">
  <c-modal-header>
    <h5 cModalTitle>History for {{current_dhcp['mac-address']}}</h5>
    <button [cModalToggle]="DhcpHistoryModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body style="overflow-x: auto;">
    <div class="mb-3 d-flex justify-content-end align-items-center">
      <span class="p-input-icon-left me-2">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search history..."
          (input)="applyFilterGlobalHistory($event, 'contains')" class="form-control-sm" />
      </span>
      <button cButton color="primary" size="sm" (click)="openHistoryExportModal()">
        <i class="fa-solid fa-file-export me-1"></i> Export
      </button>
    </div>

    <p-table #dtHistory [value]="dhcp_history" [paginator]="true" [rows]="10" [showGridlines]="true"
      [stripedRows]="true" [resizableColumns]="true" columnResizeMode="expand"
      styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
      [globalFilterFields]="['comment', 'detail', 'eventtime', 'ip', 'name']">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="comment" pResizableColumn>
            Comment
            <p-sortIcon field="comment"></p-sortIcon>
            <p-columnFilter type="text" field="comment" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="detail" style="width: 150px" pResizableColumn>
            Type
            <p-sortIcon field="detail"></p-sortIcon>
            <p-columnFilter type="text" field="detail" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="eventtime" style="width: 200px" pResizableColumn>
            Event Time
            <p-sortIcon field="eventtime"></p-sortIcon>
            <p-columnFilter type="text" field="eventtime" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="ip" style="width: 250px" pResizableColumn>
            Router
            <p-sortIcon field="ip"></p-sortIcon>
            <p-columnFilter type="text" field="ip" display="menu" class="ms-auto" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hist>
        <tr>
          <td>
            <div style="text-wrap: auto; font-weight: bold;">{{hist.comment}}</div>
          </td>
          <td>{{hist.detail}}</td>
          <td>{{hist.eventtime}}</td>
          <td>{{hist.name}} ({{hist.ip}})</td>
        </tr>
      </ng-template>
    </p-table>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="DhcpHistoryModal.id" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>

<ng-container *ngFor="let item of dhcp_server_data">
  <app-export-modal
    [(visible)]="leasesExportModalVisible"
    title="Export DHCP Leases Report"
    [allData]="item['lease_table'] || []"
    [filteredData]="dtLeases?.filteredValue || item['lease_table']"
    [customColumns]="leaseExportColumns"
    defaultFileName="dhcp_leases_report">
  </app-export-modal>
</ng-container>

<app-export-modal
  [(visible)]="historyExportModalVisible"
  title="Export DHCP History Report"
  [allData]="dhcp_history || []"
  [filteredData]="dtHistory?.filteredValue || dhcp_history"
  [customColumns]="historyExportColumns"
  dateField="eventtime"
  defaultFileName="dhcp_history_report">
</app-export-modal>

<!-- Add Static Lease Modal -->
<c-modal #AddLeaseModal backdrop="static" [(visible)]="add_lease_modal" id="AddLeaseModal" *ngIf="add_lease_modal">
  <c-modal-header>
    <h6 cModalTitle><i class="fa-solid fa-plus me-2"></i>Add Static DHCP Lease</h6>
    <button (click)="closeAddLeaseModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="mb-3">
      <label class="form-label">MAC Address <span class="text-danger">*</span></label>
      <input type="text" class="form-control" [(ngModel)]="newLease.mac" placeholder="e.g. 00:11:22:33:44:55" />
    </div>
    <div class="mb-3">
      <label class="form-label">IP Address <span class="text-danger">*</span></label>
      <input type="text" class="form-control" [(ngModel)]="newLease.address" placeholder="e.g. 192.168.88.50" />
    </div>
    <div class="mb-3">
      <label class="form-label">Server</label>
      <select class="form-select" [(ngModel)]="newLease.server">
        <option value="all">all</option>
        <ng-container *ngFor="let s of dhcp_server_data">
          <option [value]="s.dhcp_server">{{s.dhcp_server}}</option>
        </ng-container>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Comment</label>
      <input type="text" class="form-control" [(ngModel)]="newLease.comment" placeholder="Optional comment" />
    </div>
    <div *ngIf="actionError" class="alert alert-danger py-2 mb-0">
      {{actionError}}
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="closeAddLeaseModal()">Cancel</button>
    <button cButton color="primary" [disabled]="submitting" (click)="submitAddLease()">
      <i class="fa-solid fa-spinner fa-spin me-1" *ngIf="submitting"></i> Save Lease
    </button>
  </c-modal-footer>
</c-modal>

<!-- Confirm Delete Modal -->
<c-modal #ConfirmDeleteModal backdrop="static" [(visible)]="confirm_delete_modal" id="ConfirmDeleteModal" *ngIf="confirm_delete_modal">
  <c-modal-header>
    <h6 cModalTitle><i class="fa-solid fa-triangle-exclamation text-warning me-2"></i>Remove Static Lease</h6>
    <button (click)="closeConfirmDeleteModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p class="mb-0">Are you sure you want to remove the static lease for <strong>{{targetLease?.['mac-address']}}</strong> ({{targetLease?.address}})?</p>
    <div *ngIf="actionError" class="alert alert-danger py-2 mt-3 mb-0">
      {{actionError}}
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="closeConfirmDeleteModal()">Cancel</button>
    <button cButton color="danger" [disabled]="submitting" (click)="submitRemoveLease()">
      <i class="fa-solid fa-spinner fa-spin me-1" *ngIf="submitting"></i> Remove
    </button>
  </c-modal-footer>
</c-modal>