<ng-container *ngFor="let item of dhcp_server_data ">
  <c-row style="padding: 10px 0;">
    <c-col xl="3" sm="12">
      <c-row *ngIf="small_screen">
        <c-col sm="6" style="padding-right: 0;">
          <c-card class="h-100">
            <c-card-header>
              <h6>Statics</h6>
            </c-card-header>
            <c-card-body>
              <c-chart [data]="item['chartpools']" width="100%" type="doughnut"
                [options]="{aspectRatio:2,responsive:true,'plugins': { legend : {position: 'left',fullSize: true}}}">
              </c-chart>
            </c-card-body>
          </c-card>
        </c-col>
        <c-col sm="6" style="padding-left: 0;">
          <c-card class="h-100">
            <c-card-header>
              <h6>DHCP server {{item['dhcp_server']}}</h6>
            </c-card-header>
            <c-card-body>
              Pool name: {{item['address_pool']}}<br />
              Static Ip: {{item['static_ips']}}<br />
              Dynamic Ip: {{item['dynamic_ips']}}<br />
              interface : {{item['interface']}}<br />
            </c-card-body>
          </c-card>
        </c-col>

      </c-row>
      <c-card class="h-100" *ngIf="!small_screen">
        <c-card style="border: none;">
          <c-card-header>
            <h6>Statics</h6>
          </c-card-header>
          <c-card-body>
            <c-chart [data]="item['chartpools']" width="100%" type="doughnut">
            </c-chart>
          </c-card-body>
        </c-card>
        <c-card style="border: none;">
          <c-card-body>

            <table cTable small>
              <tbody>
                <tr>
                  <th scope="row">Server name</th>
                  <td>{{item['dhcp_server']}}</td>
                </tr>
                <tr>
                  <th scope="row">Pool name</th>
                  <td>{{item['address_pool']}}</td>
                </tr>
                <tr>
                  <th scope="row">Static Ip</th>
                  <td>{{item['static_ips']}}</td>
                </tr>
                <tr>
                  <th scope="row">Dynamic Ip</th>
                  <td>{{item['dynamic_ips']}}</td>
                </tr>
                <tr>
                  <th scope="row">Interface</th>
                  <td>{{item['interface']}}</td>
                </tr>
                <tr>
                  <th scope="row">Duplicate AC-ID</th>
                  <td>{{item['duplicate_agent_circuit_ids'].length}}</td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-card>
    </c-col>
    <c-col xl="9" sm="12">
      <c-card class="mb-1 h-100">
        <c-card-body>
          <div class="mb-3 d-flex justify-content-end">
            <span class="p-input-icon-left table-search-input">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Search leases..."
                (input)="applyFilterGlobalLeases($event, 'contains')" class="form-control-sm" />
            </span>
          </div>

          <p-table #dtLeases [value]="item['lease_table']" [paginator]="true" [rows]="10" [showGridlines]="true"
            [stripedRows]="true" [resizableColumns]="true" columnResizeMode="expand"
            styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            [globalFilterFields]="['address', 'host-name', 'mac-address', 'status']">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="address" pResizableColumn>
                  <div class="justify-between">
                    <span>Address</span>
                    <span>
                      <p-sortIcon field="address"></p-sortIcon>
                      <p-columnFilter type="text" field="address" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="dynamic" pResizableColumn>
                  <div class="justify-between">
                    <span>Type</span>
                    <span>
                      <p-sortIcon field="dynamic"></p-sortIcon>
                      <p-columnFilter type="boolean" field="dynamic" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="expires-after" pResizableColumn>
                  <div class="justify-between">
                    <span>Expire</span>
                    <span>
                      <p-sortIcon field="expires-after"></p-sortIcon>
                      <p-columnFilter type="text" field="expires-after" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="host-name" pResizableColumn>
                  <div class="justify-between">
                    <span>Host Name</span>
                    <span>
                      <p-sortIcon field="host-name"></p-sortIcon>
                      <p-columnFilter type="text" field="host-name" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="status" pResizableColumn>
                  <div class="justify-between">
                    <span>Status</span>
                    <span>
                      <p-sortIcon field="status"></p-sortIcon>
                      <p-columnFilter type="text" field="status" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th pSortableColumn="mac-address" pResizableColumn>
                  <div class="justify-between">
                    <span>MAC</span>
                    <span>
                      <p-sortIcon field="mac-address"></p-sortIcon>
                      <p-columnFilter type="text" field="mac-address" display="menu" class="ms-auto" />
                    </span>
                  </div>
                </th>
                <th style="width: 60px" class="text-center" pResizableColumn>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lease>
              <tr>
                <td>{{lease.address}}</td>
                <td>
                  <c-badge [color]="lease.dynamic ? 'info' : 'secondary'">
                    {{lease.dynamic ? 'Dynamic' : 'Static'}}
                  </c-badge>
                </td>
                <td>{{lease['expires-after']}}</td>
                <td>{{lease['host-name']}}</td>
                <td>
                  <c-badge [color]="lease.status === 'bound' ? 'success' : 'warning'">
                    {{lease.status}}
                  </c-badge>
                </td>
                <td><small class="font-monospace">{{lease['mac-address']}}</small></td>
                <td class="text-center">
                  <button cButton color="info" size="sm" (click)="show_history(lease)" pTooltip="View History">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</ng-container>


<c-modal #DhcpHistoryModal backdrop="static" size="xl" [visible]="dhcp_history_modal" id="DhcpHistoryModal"
  *ngIf="dhcp_history_modal">
  <c-modal-header>
    <h5 cModalTitle>History for {{current_dhcp['mac-address']}}</h5>
    <button [cModalToggle]="DhcpHistoryModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body style="overflow-x: auto;">
    <div class="mb-3 d-flex justify-content-end">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search history..."
          (input)="applyFilterGlobalHistory($event, 'contains')" class="form-control-sm" />
      </span>
    </div>

    <p-table #dtHistory [value]="dhcp_history" [paginator]="true" [rows]="10" [showGridlines]="true"
      [stripedRows]="true" [resizableColumns]="true" columnResizeMode="expand"
      styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
      [globalFilterFields]="['comment', 'detail', 'eventtime', 'ip', 'name']">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="comment" pResizableColumn>
            Comment
            <p-sortIcon field="comment"></p-sortIcon>
            <p-columnFilter type="text" field="comment" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="detail" style="width: 150px" pResizableColumn>
            Type
            <p-sortIcon field="detail"></p-sortIcon>
            <p-columnFilter type="text" field="detail" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="eventtime" style="width: 200px" pResizableColumn>
            Event Time
            <p-sortIcon field="eventtime"></p-sortIcon>
            <p-columnFilter type="text" field="eventtime" display="menu" class="ms-auto" />
          </th>
          <th pSortableColumn="ip" style="width: 250px" pResizableColumn>
            Router
            <p-sortIcon field="ip"></p-sortIcon>
            <p-columnFilter type="text" field="ip" display="menu" class="ms-auto" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hist>
        <tr>
          <td>
            <div style="text-wrap: auto; font-weight: bold;">{{hist.comment}}</div>
          </td>
          <td>{{hist.detail}}</td>
          <td>{{hist.eventtime}}</td>
          <td>{{hist.name}} ({{hist.ip}})</td>
        </tr>
      </ng-template>
    </p-table>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="DhcpHistoryModal.id" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>