<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <c-row>
          <c-col xs [lg]="10">
            Permissions
          </c-col>
          <c-col xs [lg]="2" style="text-align: right;">
            <button cButton color="primary" (click)="editAddTask({},'showadd')"><i
                class="fa-solid fa-plus"></i></button>
          </c-col>
        </c-row>
      </c-card-header>
      <c-card-body>
        <div class="mb-3 d-flex justify-content-end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search permissions..." (input)="applyFilterGlobal($event, 'contains')"
              class="form-control-sm" />
          </span>
        </div>

        <p-table #dt [value]="source" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]" [resizableColumns]="true" columnResizeMode="expand"
          [showGridlines]="true" [stripedRows]="true" 
          styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
          [globalFilterFields]="['name']"
          [loading]="loading">

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" pResizableColumn>
                <div class="justify-between">
                  <span>Permission Name</span>
                  <span>
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu" class="ms-auto" />
                  </span>
                </div>
              </th>
              <th pResizableColumn>Perms</th>
              <th style="width: 120px" class="text-center" pResizableColumn>Actions</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.name}}</td>
              <td>
                <div class="d-flex flex-wrap gap-1">
                  <ng-container *ngFor="let perm of item['perms'] | keyvalue">
                    <c-badge *ngIf="perm.value" color="success">{{perm.key}}</c-badge>
                  </ng-container>
                </div>
              </td>
              <td class="text-center">
                <div class="d-flex gap-1 justify-content-center">
                  <button cButton color="warning" size="sm" (click)="editAddTask(item,'edit');" pTooltip="Edit Permission">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <button cButton color="danger" size="sm" (click)="confirm_delete(item);" pTooltip="Delete Permission">
                    <i class="fa-regular fa-trash-can"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3" class="text-center p-4">No permissions found.</td>
            </tr>
          </ng-template>
        </p-table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-modal-header>


  <c-modal #EditTaskModal backdrop="static" size="lg" [(visible)]="EditTaskModalVisible" id="EditTaskModal">
    <c-modal-header>
      <h5 *ngIf="action=='edit'" cModalTitle>Editing Permission {{SelectedPerm['name']}}</h5>
      <h5 *ngIf="action=='add'" cModalTitle>Adding new Permission Rule</h5>
      <button [cModalToggle]="EditTaskModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="floatingInput" placeholder="permname" [(ngModel)]="permname" />
        <label cLabel for="floatingInput">Name</label>
      </div>
      <c-row>
        <c-col>
          <c-form-check *ngFor='let val of ["api","ftp","password","read","romon","sniff","telnet","tikapp","winbox"]'
            [switch]="true">
            <input cFormCheckInput [(ngModel)]="perms[val] " type="checkbox" />
            <label cFormCheckLabel>{{ val}}</label>
          </c-form-check>
        </c-col>
        <c-col>
          <c-form-check
            *ngFor='let val of ["dude","local","policy","reboot","rest-api","sensitive","ssh","test","web","write"]'
            [switch]="true">
            <input cFormCheckInput [(ngModel)]="perms[val] " type="checkbox" />
            <label cFormCheckLabel>{{ val}}</label>
          </c-form-check>
        </c-col>
      </c-row>
      <ng-container *ngIf="SelectedMembers.length>0 && EditTaskModalVisible">
        <c-badge class="mx-1" *ngFor="let id of splitids(SelectedPermItems)"
          color="dark">{{get_member_by_id(id).name}}</c-badge>
      </ng-container>
      <!-- 
  <c-input-group class="mb-3">
    <cron-editor #cronEditorDemo1 [(ngModel)]="SelectedPerm['cron']"  [options]="cronOptions">Cron here...</cron-editor>
  </c-input-group> 
  -->

    </c-modal-body>
    <c-modal-footer>
      <button *ngIf="action=='add'" (click)="submit('add')" cButton color="primary">Add</button>
      <button *ngIf="action=='edit'" (click)="submit('edit')" cButton color="primary">save</button>
      <button [cModalToggle]="EditTaskModal.id" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>


  <c-modal #DeleteConfirmModal backdrop="static" [(visible)]="DeleteConfirmModalVisible" id="DeleteConfirmModal">
    <c-modal-header>
      <h5 cModalTitle>Confirm delete {{ SelectedPerm['name'] }}</h5>
      <button [cModalToggle]="DeleteConfirmModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      Are you sure that You want to delete following Permission?
      <br />
      <br />
      <table style="width: 100%;">
        <tr>
          <td><b>Permission name : </b>{{ SelectedPerm['name'] }}
        </tr>
        <tr>
          <td>
            <ng-container *ngFor="let perm of SelectedPerm['perms'] | keyvalue">
              <c-badge *ngIf="perm.value" class="m-1" color="success">{{perm.key}}</c-badge>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>
            <p><code
                style="padding: 0!important;"><b>Warning:</b> ALL Given <b>device access</b> related to this permision in Users Section <b>will be deleted</b> for each user</code>
            </p>
          </td>
        </tr>
      </table>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="confirm_delete('',true)" cButton color="danger">
        Yes,Delete!
      </button>
      <button [cModalToggle]="DeleteConfirmModal.id" cButton color="info">
        Close
      </button>
    </c-modal-footer>
  </c-modal>


  <c-toaster position="fixed" placement="top-end"></c-toaster>