<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/logo-MIkroWizard-big-white.svg',
      width: 200,
      height: 46,
      alt: 'MikroWizard Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/brand/logo-MIkroWizard-small-color.svg',
      width: 46,
      height: 46,
      alt: 'MikroWizard Logo'
    }"
    routerLink="./"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav 
      [navItems]="navItems"
      dropdownMode="close"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header (UserModalEvent)="show_user_modal()" class="mb-2 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="main-container body flex-grow-1 px-3" style="display: flex;">
    <c-container breakpoint="fluid" class="h-auto">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>

<c-modal #UserProfileModal backdrop="static" size="lg" [(visible)]="UserProfileModalVisible" id="UserProfileModal">
  <c-modal-header>
    <h5 cModalTitle>Change Password Form of<code><b>{{ uname }}({{ fname }} {{lname}})</b></code></h5>
    <button [cModalToggle]="UserProfileModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <div [cFormFloating]="true" class="mb-3">
      <input type="password" cFormControl id="floatingInput" [(ngModel)]="password['cupass']" placeholder="Current Password" />
      <label cLabel for="floatingInput">Current Password</label>
    </div>
    
    <div [cFormFloating]="true" class="mb-3">
      <input type="password" cFormControl (ngModelChange)="password_changed('pass1',$event)" [(ngModel)]="password['pass1']" id="floatingInput" placeholder="New Password" />
      <label cLabel for="floatingInput">New Password</label>
    </div>

    <div [cFormFloating]="true" class="mb-3">
      <input type="password" cFormControl (ngModelChange)="password_changed('pass2',$event)" [(ngModel)]="password['pass2']"  [valid]="passvalid['pass2']"  id="floatingInput" placeholder="New Password confirm" />
      <label cLabel for="floatingInput">New Password confirm</label>
    </div>
    <code *ngIf="error"><i class="fa-solid fa-triangle-exclamation"></i><small>  {{error}}</small></code>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="submit()" cButton color="primary">submit</button>
   <button [cModalToggle]="UserProfileModal.id" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>