:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
  c-sidebar-nav{
  --cui-sidebar-nav-link-padding-y:.6rem;
  --cui-sidebar-nav-title-margin-top: 0.1rem;

  }
  .header{
  --cui-subheader-min-height:2rem;
  }

}
::ng-deep .card{
  --cui-card-border-radius:0.2rem;
  --cui-card-cap-padding-y:0.4rem;
}
::ng-deep :root{
  --cui-body-font-size:0.8rem;
}