<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white  py-5" style="background-color: #303c54;">
            <c-card-body class="text-center">
              <img style="width: 200px;" src="assets/img/brand/mikrowizard-full.jpg">
            </c-card-body>
          </c-card>
          <c-card class="p-4">
            <c-card-body>
              <form cForm  [formGroup]="loginForm" >
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" formControlName="username" required #username/>
                </c-input-group>
                <c-input-group class="mb-1">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    formControlName="password" 
                    required #password
                  />
                </c-input-group>
                <code *ngIf="error_msg"><i class="fa-solid fa-triangle-exclamation"></i><small>  {{error_msg}}</small></code>
                <c-row>
                  <c-col mb-3 xs="6">
                    <button type="submit" cButton (click)="onClickSubmit()" class="px-4" color="primary">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>

        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
