<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <c-row>
          <c-col xs [lg]="3">
            Devices
          </c-col>
          <c-col xs [lg]="9">
            <h6 style="text-align: right;">
              <button cButton color="dark" class="mx-1" size="sm" (click)="Edit_Snippet('','showadd')"
                style="color: #fff;"><i class="fa-solid fa-plus"></i> </button>
            </h6>
          </c-col>
        </c-row>
      </c-card-header>
      <c-card-body>
        <p-table #dt [value]="source" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [(selection)]="Selectedrows" [rowsPerPageOptions]="[10, 25, 50]" [resizableColumns]="true"
          columnResizeMode="expand" [showGridlines]="true" [stripedRows]="true"
          styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
          [globalFilterFields]="['name','description']">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name" pResizableColumn>
                <div class="justify-between">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter type="text" field="name" display="menu" class="ms-auto" />
                </div>
              </th>
              <th pSortableColumn="description" pResizableColumn>
                <div class="justify-between">
                  Description
                  <p-sortIcon field="description"></p-sortIcon>
                  <p-columnFilter type="text" field="description" display="menu" class="ms-auto" />
                </div>
              </th>
              <th pSortableColumn="brand" pResizableColumn style="width: 100px;">
                <div class="justify-between">
                  Brand
                  <p-sortIcon field="brand"></p-sortIcon>
                  <p-columnFilter type="text" field="brand" display="menu" class="ms-auto" />
                </div>
              </th>
              <th pSortableColumn="created" pResizableColumn>
                <div class="justify-between">
                  Created
                  <p-sortIcon field="created"></p-sortIcon>
                  <p-columnFilter type="text" field="created" display="menu" class="ms-auto" />
                </div>
              </th>
              <th style="width: 280px" class="text-center" pResizableColumn>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <img *ngIf="item.status=='updating'" width="20px" src="assets/img/loading.svg" />
                <i *ngIf="item.status=='updated'" style="color: green;margin-right: 5px;" class="fa-solid fa-check"></i>
                <i *ngIf="item.status=='failed'" style="color: red;margin-right: 5px;" class="fa-solid fa-x"></i>
                {{item.name}}
              </td>
              <td>{{item.description}}</td>
              <td><c-badge color="info" style="font-size: 0.7rem;" *ngIf="item.brand">{{item.brand}}</c-badge></td>
              <td class="small">{{item.created}}</td>
              <td class="text-center">
                <button cButton color="primary" size="sm" (click)="Edit_Snippet(item,'edit')" class="me-1">
                  <i class="fa-regular fa-pen-to-square me-1"></i>Edit
                </button>
                <button cButton color="warning" size="sm" (click)="Run_Snippet(item,'exec')" class="me-1">
                  <i class="fa-solid fa-bolt me-1"></i>Execute
                </button>
                <button cButton color="info" size="sm" (click)="show_exec(item)" class="me-1">
                  <i class="fa-solid fa-history me-1"></i>History
                </button>
                <button cButton color="danger" size="sm" (click)="confirm_delete(item,false)">
                  <i class="fa-regular fa-trash-can me-1"></i>Delete
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>




<c-modal #ExecSnipetModal backdrop="static" size="xl" [(visible)]="ExecSnipetModalVisible" id="ExecSnipetModal">
  <c-modal-header>
    <h5 cModalTitle>Exec Snipet</h5>
    <button [cModalToggle]="ExecSnipetModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div [cFormFloating]="true" class="mb-3">
      <input cFormControl id="floatingInput" placeholder="current_snippet['name']" [(ngModel)]="current_snippet['name']"
        disabled="true" />
      <label cLabel for="floatingInput">Snipet Name</label>
    </div>

    <div [cFormFloating]="true" class="mb-3">
      <input cFormControl id="floatingInput" placeholder="current_snippet['description']"
        [(ngModel)]="current_snippet['description']" />
      <label cLabel for="floatingInput">Description</label>
    </div>

    <c-input-group class="mb-3">
      <label cInputGroupText for="inputGroupSelect01">
        Member type
      </label>
      <select cSelect id="inputGroupSelect01" (change)="form_changed()" [(ngModel)]="current_snippet['selection_type']">
        <option value="devices">Devices</option>
        <option value="groups">Groups</option>
      </select>
    </c-input-group>

    <h5>Members :</h5>
    <p-table #dtSelected [value]="SelectedMembers" [paginator]="true" [rows]="5" [resizableColumns]="true"
      columnResizeMode="expand" [showGridlines]="true" [stripedRows]="true"
      styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" pResizableColumn>Name <p-sortIcon field="name"></p-sortIcon></th>
          <th *ngIf="current_snippet['selection_type']=='devices'" pSortableColumn="mac" pResizableColumn>MAC
            <p-sortIcon field="mac"></p-sortIcon>
          </th>
          <th style="width: 80px" class="text-center" pResizableColumn>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-member>
        <tr>
          <td>{{member.name}}</td>
          <td *ngIf="current_snippet['selection_type']=='devices'">{{member.mac}}</td>
          <td class="text-center">
            <button cButton color="danger" size="sm" (click)="remove_member(member)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <hr />
    <button cButton color="primary" (click)="show_new_member_form()">+ Add new Members</button>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="clearStoredSelection()" cButton color="warning" class="me-auto">Clear history</button>
    <button (click)="submit('exec')" cButton color="primary">Execute</button>
    <button [cModalToggle]="ExecSnipetModal.id" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>


<c-modal #NewMemberModal backdrop="static" size="lg" [(visible)]="NewMemberModalVisible" id="NewMemberModal">
  <c-modal-header>
    <h5 cModalTitle>Editing Group </h5>
    <button (click)="NewMemberModalVisible=!NewMemberModalVisible" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-input-group class="mb-3">
      <h5>Group Members :</h5>
      <div class="mb-3 d-flex justify-content-end w-100">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search..." (input)="applyFilterNewMember($event, 'contains')"
            class="form-control-sm" />
        </span>
      </div>
      <p-table #dtNewMember [value]="availbleMembers" [paginator]="true" [rows]="10"
        [(selection)]="SelectedNewMemberRows" (selectionChange)="NewMemberRows = $event" [resizableColumns]="true"
        columnResizeMode="expand" [showGridlines]="true" [stripedRows]="true"
        Class="p-datatable-sm p-datatable-gridlines p-datatable-striped" [globalFilterFields]="['name','ip','mac']">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem" pResizableColumn>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name" pResizableColumn>
              Name
              <p-sortIcon field="name"></p-sortIcon>
              <p-columnFilter type="text" field="name" display="menu" class="ms-auto" />
            </th>
            <th *ngIf="current_snippet['selection_type']=='devices'" pSortableColumn="ip" pResizableColumn>
              IP
              <p-sortIcon field="ip"></p-sortIcon>
              <p-columnFilter type="text" field="ip" display="menu" class="ms-auto" />
            </th>
            <th *ngIf="current_snippet['selection_type']=='devices'" pSortableColumn="mac" pResizableColumn>
              MAC
              <p-sortIcon field="mac"></p-sortIcon>
              <p-columnFilter type="text" field="mac" display="menu" class="ms-auto" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
          <tr>
            <td><p-tableCheckbox [value]="member"></p-tableCheckbox></td>
            <td>{{member.name}}</td>
            <td *ngIf="current_snippet['selection_type']=='devices'">{{member.ip}}</td>
            <td *ngIf="current_snippet['selection_type']=='devices'">{{member.mac}}</td>
          </tr>
        </ng-template>
      </p-table>
      <br />
    </c-input-group>
    <hr />
  </c-modal-body>

  <c-modal-footer>
    <button *ngIf="NewMemberRows.length!= 0" (click)="add_new_members()" cButton color="primary">Add {{
      NewMemberRows.length }}</button>
    <button (click)="NewMemberModalVisible=!NewMemberModalVisible" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>


<c-modal #ExecutedDataModal backdrop="static" size="lg" [(visible)]="ExecutedDataModalVisible" id="ExecutedDataModal">
  <c-modal-header>
    <h5 cModalTitle>Exec history </h5>
    <button (click)="ExecutedDataModalVisible=!ExecutedDataModalVisible" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-input-group class="mb-3">
      <div class="mb-3 d-flex justify-content-end w-100">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search history..." (input)="applyFilterHistory($event, 'contains')"
            class="form-control-sm" />
        </span>
      </div>
      <p-table #dtHistory width="100%" [value]="ExecutedData" [paginator]="true" [rows]="10" [resizableColumns]="true"
        columnResizeMode="expand" [showGridlines]="true" [stripedRows]="true"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
        [globalFilterFields]="['username','detail']">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="started" pResizableColumn>
              Start time
              <p-sortIcon field="started"></p-sortIcon>
              <p-columnFilter type="text" field="started" display="menu" class="ms-auto" />
            </th>
            <th pSortableColumn="ended" pResizableColumn>
              End time
              <p-sortIcon field="ended"></p-sortIcon>
              <p-columnFilter type="text" field="ended" display="menu" class="ms-auto" />
            </th>
            <th style="width: 120px" class="text-center" pResizableColumn>Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td class="small">{{item.started}}</td>
            <td class="small">{{item.ended}}</td>
            <td class="text-center">
              <button (click)="viewResult(item)" color="info" pTooltip="View Output" size="sm" cButton class="me-1">
                <i class="fas fa-table"></i>
              </button>
              <button (click)="openSnippetExportModal(item.result, 'Export Snippet Execution Results')" color="primary" pTooltip="Export Report" size="sm" cButton>
                <i class="fa-solid fa-file-export"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br />
    </c-input-group>
    <hr />
  </c-modal-body>

  <c-modal-footer>
    <button (click)="ExecutedDataModalVisible=!ExecutedDataModalVisible" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>

<c-modal #CsvViewModal backdrop="static" size="xl" [(visible)]="CsvViewModalVisible" id="CsvViewModal">
  <c-modal-header>
    <h5 cModalTitle>Output</h5>
    <button (click)="CsvViewModalVisible=false" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngIf="CsvViewIsText">
      <div class="bg-dark text-light p-3 rounded" [style.max-height]="textOutputExpanded ? 'none' : '300px'"
        style="overflow: auto; font-family: 'Courier New', Consolas, monospace;">
        <pre style="white-space: pre-wrap; word-wrap: break-word; margin: 0; font-size: 0.85rem; font-family: inherit;">{{CsvViewTextContent}}</pre>
      </div>
      <div class="text-center mt-2">
        <button cButton color="secondary" size="sm" (click)="textOutputExpanded = !textOutputExpanded">
          {{ textOutputExpanded ? 'Collapse' : 'Expand' }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!CsvViewIsText && CsvViewData.length > 0">
      <p-table [value]="CsvViewData" [paginator]="true" [rows]="15" [resizableColumns]="true"
        columnResizeMode="expand" [showGridlines]="true" [stripedRows]="true"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [scrollable]="true"
        scrollHeight="500px" [rowsPerPageOptions]="[10,15,25,50,100]"
        [currentPageReportTemplate]="'{first}-{last} of {totalRecords}'" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of CsvViewColumns" pResizableColumn>{{col}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td *ngFor="let col of CsvViewColumns" class="small" style="padding: 0;">
            <div class="p-1" style="white-space: pre-wrap; word-break: break-word; font-family: 'Courier New', Consolas, monospace; max-height: 150px; overflow: auto;">{{row[col]}}</div>
          </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
    <div *ngIf="!CsvViewIsText && CsvViewData.length === 0" class="text-center p-3 text-muted">
      No output data available.
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="openSnippetExportModal(CsvViewData, 'Export Snippet Output Report')" *ngIf="!CsvViewIsText && CsvViewData.length > 0" cButton color="primary">
      <i class="fa-solid fa-file-export me-1"></i>Export Report
    </button>
    <button (click)="CsvViewModalVisible=false" cButton color="secondary">Close</button>
  </c-modal-footer>
</c-modal>

<c-modal #EditModal backdrop="static" [(visible)]="EditModalVisible" id="runEditModal">
  <c-modal-header>
    <h6 *ngIf="ModalAction=='add'" cModalTitle>Add New Snippet</h6>
    <h6 *ngIf="ModalAction=='edit'" cModalTitle>Editing snippet {{current_snippet.name}}</h6>
    <button [cModalToggle]="EditModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-input-group class="mb-3">
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="floatingInput" placeholder="Snippet Name" [(ngModel)]="current_snippet['name']" />
        <label cLabel for="floatingInput">Name</label>
      </div>
    </c-input-group>
    <c-input-group class="mb-3">
      <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="floatingInput" placeholder="Snippet Description"
          [(ngModel)]="current_snippet['description']" />
        <label cLabel for="floatingInput">Description</label>
      </div>
    </c-input-group>
    <c-input-group class="mb-3">
      <div [cFormFloating]="true" class="mb-3">
        <textarea [style.height.px]="50 + (23 * lineNum)" cFormControl (ngModelChange)="calcline($event)"
          id="floatingInput" placeholder="Snippet code" [(ngModel)]="current_snippet['content']"></textarea>
        <label cLabel for="floatingInput">Code</label>
        <div class="col-sm-12 c-d-block c-text-truncate">Note : In case of multiple IP addresses for the MikroWizard
          server, use<code style="padding: 0!important;">[mikrowizard]</code> instead of the MikroWizard server IP.
        </div>
      </div>
    </c-input-group>
    <c-input-group class="mb-3">
      <div class="mb-2">
        <select cSelect [(ngModel)]="current_snippet['brand']" class="form-select form-select-sm" style="width: 100%;">
          <option *ngFor="let b of brands" [value]="b.brand">{{ b.display_name || b.brand }}</option>
        </select>
        <small class="text-muted">Brand / device type this snippet targets</small>
      </div>
    </c-input-group>
    <div class="d-flex gap-3 mb-3 flex-wrap">
      <c-form-check class="form-check">
        <input cFormCheckInput type="checkbox" [(ngModel)]="current_snippet['is_default']" />
        <label cFormCheckLabel>Default for this brand</label>
      </c-form-check>
      <c-form-check class="form-check">
        <input cFormCheckInput type="checkbox" [(ngModel)]="current_snippet['is_config_mode']" />
        <label cFormCheckLabel>Config mode (Cisco-style configure terminal blocks)</label>
      </c-form-check>
      <c-form-check class="form-check">
        <input cFormCheckInput type="checkbox" [(ngModel)]="current_snippet['store_in_backup']" />
        <label cFormCheckLabel>Store execution in Backups</label>
      </c-form-check>
    </div>
    <br />
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="danger" (click)="save_snippet()">save</button>
    <button cButton [cModalToggle]="EditModal.id" color="info">Close</button>
  </c-modal-footer>
</c-modal>

<c-modal #DeleteConfirmModal backdrop="static" [(visible)]="DeleteConfirmModalVisible" id="DeleteConfirmModal">
  <c-modal-header>
    <h5 cModalTitle>Confirm delete {{ SelectedSnippet['name'] }}</h5>
    <button [cModalToggle]="DeleteConfirmModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    Are you sure that You want to delete following Snippet ?
    <br />
    <br />
    <table style="width: 100%;">
      <tr>
        <td><b>Snippet name : </b>{{ SelectedSnippet['name'] }}
      </tr>
      <tr>
      </tr>
      <tr>
        <td>
          <p><code
              style="padding: 0!important;"><b>Warning:</b> ALL <b>Tasks</b> related to this snippet Will be <b>modifed or deleted</b> and stop working!</code>
          </p>
        </td>
      </tr>
    </table>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="confirm_delete('',true)" cButton color="danger">
      Yes,Delete!
    </button>
    <button [cModalToggle]="DeleteConfirmModal.id" cButton color="info">
      Close
    </button>
  </c-modal-footer>
</c-modal>

<app-export-modal
  [(visible)]="exportModalVisible"
  [title]="exportTitle"
  [allData]="exportDataPayload"
  defaultFileName="snippet_report">
</app-export-modal>

<c-toaster position="fixed" placement="top-end"></c-toaster>