<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card class="mx-4 p-4">
          <c-card-body>
            <form cForm [formGroup]="forgotForm">
              <h1>Forgot Password</h1>
              <p class="text-medium-emphasis">Enter your email address to receive a password reset link.</p>

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input cFormControl placeholder="Email address" type="email" formControlName="email" required />
              </c-input-group>

              <div class="mb-3">
                <code *ngIf="error_msg"><i class="fa-solid fa-triangle-exclamation"></i><small>  {{error_msg}}</small></code>
                <div *ngIf="success_msg" class="text-success"><i class="fa-solid fa-circle-check"></i><small>  {{success_msg}}</small></div>
              </div>

              <div class="d-grid mb-3">
                <button type="submit" cButton (click)="onClickSubmit()" color="primary" [disabled]="submitted">
                  Send Reset Link
                </button>
              </div>

              <div class="text-center">
                <a [routerLink]="['/login']" style="font-size: 0.9rem;" class="text-decoration-none">Back to Login</a>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
