$primary-color: #303c54;
$secondary-color: #ffffff;
$border-color: #000000;
$hover-bg-color: #f8f9fa;
$signin-bg-color: #635DFF;
$signin-hover-color: #4a46d1;

.signup-link {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
}

.heading-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
}

.btn-signin {
  background-color: $signin-bg-color;
  color: $secondary-color;
  font-weight: bold;

  &:hover {
    background-color: $signin-hover-color;
  }
} 

.btn-social {
  color: $primary-color;
  background-color: $secondary-color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $hover-bg-color;
  }
}