:host ::ng-deep .input-group-sm {
  .mat-datepicker-toggle .mat-mdc-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    .mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }
  }
}
