.cls-1 {
    opacity: 0.15;

}

.cls-2 {
    fill: #636363;

}

.cls-3 {
    fill: #f2f2f2;

}

.cls-4 {
    fill: #e2e2e2;

}

.cls-5 {
    opacity: 0.1;

}

.cls-6 {
    fill: #ffe131;

}

.cls-7 {
    opacity: 0.05;

}
.mwand{
    text-align: center;
}
.mwand svg {
    width: 20%;
    margin:20px auto;
    overflow: visible;

}

#wand {
    animation: magic 4s ease infinite;
}

@keyframes magic {

    0% {transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1); transform-origin: 50% 50%;}
    15% {transform: rotate(0deg) translateX(50px) rotate(0deg) scale(1); transform-origin: 50% 50%;}
    70% {transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1); transform-origin: 50% 50%;}
    77% {transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(0.9); transform-origin: 50% 50%;}
    80%   {transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1); transform-origin: 50% 50%;}
    100%   {transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1); transform-origin: 50% 50%;}


}

#star1 {
    animation: twinkle 4s ease infinite;
}

@keyframes twinkle {

    0% {transform: scale(0); opacity: 0; transform-origin: 60% 40%;}
    77% {transform: scale(0); opacity: 0; transform-origin: 60% 40%;}
    82% {transform: scale(1.2); opacity: 1; transform-origin: 60% 40%;}
    87% {transform: scale(1); opacity: 1; transform-origin: 60% 40%;}
    100% {transform: scale(1); opacity: 1; transform-origin: 60% 40%;}

}

#star2 {
    animation: twinkle2 4s ease infinite;
}

@keyframes twinkle2 {

    0% {transform: scale(0); opacity: 0; transform-origin: 60% 40%;}
    82% {transform: scale(0); opacity: 0; transform-origin: 60% 40%;}
    87% {transform: scale(1.2); opacity: 1; transform-origin: 60% 40%;}
    92% {transform: scale(1); opacity: 1; transform-origin: 60% 40%;}
    100% {transform: scale(1); opacity: 1; transform-origin: 60% 40%;}

}

#star3 {
    animation: twinkle3 4s ease infinite;
}

@keyframes twinkle3 {

    0% {transform: scale(0); opacity: 0; transform-origin: 60% 60%;}
    87% {transform: scale(0); opacity: 0; transform-origin: 60% 60%;}
    92% {transform: scale(1.2); opacity: 1; transform-origin: 60% 60%;}
    97% {transform: scale(1); opacity: 1; transform-origin: 60% 60%;}
    100% {transform: scale(1); opacity: 1; transform-origin: 60% 60%;}

}

#star4 {
    animation: twinkle4 4s ease infinite;
}

@keyframes twinkle4 {

    0% {transform: scale(0); opacity: 0; transform-origin: 60% 60%;}
    92% {transform: scale(0); opacity: 0; transform-origin: 60% 60%;}
    97% {transform: scale(1.2); opacity: 1; transform-origin: 60% 60%;}
    100% {transform: scale(1); opacity: 1; transform-origin: 60% 60%;}

}
